@import url("https://fonts.googleapis.com/css?family=Raleway:300,500,700");
@import "./variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    background-color: $background;
}

@mixin text {
    line-height: 40px;
    padding: 20px;
    text-align: left;
    font-size: 1.35em;
    color: rgb(114, 105, 105);
    font-weight: 549;
}
@mixin mediastyle {
    color: $colorwit;
    position: absolute;
    transform: translateY(-20px);
    margin-left: 65px;
    color: $colorwit;
    font-size: 0.8em;
}
@mixin mediast {
    color: $colorwit;
    font-size: 1.4em;
    margin-top: 14px;
    margin-left: 20px;
}

.card {
    box-shadow: 5px 10px 15px -9 px grey;
    background-color: $background;
    height: 680px;
    width: 420px;
    margin: 20px;
    padding-bottom: 20px;

    .box {
        display: flex;
        flex-wrap: wrap;
        background-color: $background;
        margin-bottom: 20px;
        @include text();
        border-radius: 20px;
        height: 600px;
    }
    .pic {
        width: 130px;
        height: 135px;
        border: solid $colorwit 4px;
        border-radius: 90%;
        position: absolute;
        top: 325px;
        left: 160px;
    }
}
.boxtext {
    background-color: $colorwit;
    padding: 20px 20px 0px 40px;
    border-radius: 20px 20px 0px 0px;
    box-shadow: -2px 4px 5px 5px rgb(219, 211, 211);
}
footer {
    text-align: center;
    padding-top: 0px;
    background-color: #686de0;
    border-radius: 0px 0px 20px 20px;
    box-shadow: -2px 4px 5px 5px rgb(185, 180, 180);
    h3 {
        background-color: #686de0;
        color: white;
        transform: translateY(60px);
    }
    p {
        background-color: #686de0;
        color: rgb(190, 203, 214);
        transform: translateY(60px);
    }
}

.portfolio {
    width: 100%;
    display: grid;
    margin: 20px;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    background-color: $background;
    margin-top: 60px;

    .im {
        width: 90%;
        position: relative;
        border: solid 1px black;
    }
    .ima {
        display: block;
        width: 100%;
    }
    .btt {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        visibility: none;
        background: $background;
        opacity: 0;
        transition-duration: 800ms;
    }
}
.im :hover.btt {
    opacity: 1;
}
.button {
    height: 10%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(170px, 140px);
    border-radius: 5px;
}

@media (min-width: 600px) {
    .portfolio {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 1200px) {
    .portfolio {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.smediabox {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 300px;
    div {
        justify-content: center;
        width: 65px;
        height: 50px;
        transition: width 800ms;
        color: $colorwit;
    }
    .blog {
        background-color: #e17b77;
        display: inline-flexbox;
        a {
            @include mediastyle(background-color #e17b77);
        }
    }
    .ablog {
        background-color: #e17b77;
        &::before {
            content: \f5fc;
        }
    }
    .fa-laptop-code {
        @include mediast(background-color #e17b77);
    }

    .twitter {
        background-color: #00aced;
        display: inline-flexbox;
        a {
            @include mediastyle(background-color #00aced);
        }
    }
    .fa-twitter {
        @include mediast(background-color #00aced);
    }
    .atwit {
        background-color: #00aced;
        &::before {
            content: \f099;
        }
    }
    .linkedin {
        background-color: #007bb6;
        display: inline-flexbox;
        a {
            @include mediastyle(background-color #007bb6);
        }
    }
    .fa-linkedin-in {
        @include mediast(background-color #007bb6);
    }
    .alink {
        background-color: #007bb6;
        &::before {
            content: \f0e1;
        }
    }
    .facebook {
        background-color: #3b5998;
        display: inline-flexbox;
        a {
            @include mediastyle(background-color #3b5998);
        }
    }
    .fa-facebook-f {
        @include mediast(background-color #3b5998);
    }
    .facebo {
        background-color: #3b5998;
        &::before {
            content: \f39e;
        }
    }
    .github {
        background-color: #333;
        display: inline-flexbox;
        a {
            @include mediastyle(background-color #333);
        }
    }
    .fa-github {
        @include mediast(background-color #333);
    }
    .gith {
        background-color: #333;
        &::before {
            content: \f09b;
        }
    }
    div:hover {
        width: 200px;
    }
}
